body { background-color: #FFFF66;
            color: #00FF00; }
a { background-color:#FFFFFF; }
h1 {font-family: "Times New Roman",serif;
       background-color: #FFFFFF;
       color: #00FF00; }
